##pdfLatex output files
*.dvi
*.aux
*.lof
*.toc
*.log
*.nav
*.out
*.snm
*.ind
*.idx
*.ilg
*.blg
*.loa
*.bbl

##Vim
*.swp

##Kate
*.kate-swp

##Dolphin
.directory

##Mint - Backup
*.backup

##Other - Personal
tmp.bib
ba2_groupe9_RapportDeRechercheBibliographique.pdf
